{% extends 'formula/base.html' %}
{% load static %}

{% block content %}
<div class="edit-profile-container">
    <h1>Edit Profile</h1>
<div class="login-container">
    <h1 class="login-header">Edit Profile</h1>
    <form method="POST" action="{% url 'formula:edit_profile' username=user.username %}" class="login-form" enctype="multipart/form-data">
                {% csrf_token %}
        {% for field in user_form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
            <div class="errorlist">{{ field.errors }}</div>
        {% endif %}
    </div>
{% endfor %}
    <input type="submit" value="Done" class="login-button">
    </form>
</div>
</div>
{% endblock %}

