<!DOCTYPE html>
{% extends 'formula/base.html' %}
<html lang="en">
{% block title %}UGR Board{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-header">
        <h1>Login or <a href="{% url 'formula:register' %}" class="create-account-link">Create an account</a></h1>
    </div>
    <form method="post" action="{% url 'formula:login' %}" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>

        <input type="submit" value="Login" class="login-button">
    </form>
</div>

{% endblock %}

{% block footer %}

{% endblock %}