<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block extra_js %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css?v=1.1">
</head>
<body>
<header>
    <div class="logo-container">
        <img src="/static/images/logo.png" class="logo-img1" alt="Shit">
        <img src='/static/images/Car.png' class="logo-img1 logo-img2" alt="Double shit">
    </div>
    <div class="navigation-bar">
       <div class="breadcrumb">
            {% for url, name in request.breadcrumbs %}
                &rsaquo; <a href="{{ url }}">{{ name }}</a>
            {% endfor %}
        </div>

        <div class="header-links">
            <a href="{%url 'formula:about' %}" class="header-link">?</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'formula:profile' request.user.username %}" class="header-link">👤</a>
            {% else %}
                <a href="{% url 'login' %}" class="header-link">👤</a>
            {% endif %}
            <a href="{%url 'formula:about' %}" class="header-link">➕</a>
            <a href="{% url 'logout' %}" class="header-link">🚪</a>
        </div>
    </div>
        {% block header %}

        {% endblock %}
    </header>

    <div id="main-content">
        {% block content %}
        <!-- The unique content of each page will go here -->
        {% endblock %}
    </div>

    <footer>
    <p>
    Statistics //  Who is online <br>
    Total posts {{ request.total_posts }} • Total topics {{ request.total_topics }} • Total members {{ request.total_members }} • Our newest member {{ request.newest_member }}
    </p>
        {% block footer %}
        <!-- Your universal footer content goes here -->
        {% endblock %}
    </footer>
</body>
</html>