{% extends 'formula/base.html' %}

{% load static %}

{% block extra_js %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}?version=0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/List.css' %}?version=0">
	<script type="text/javascript" src="{% static 'js/tabs.js' %}?version=0"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}?version=0"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<div id="tabs-display">
		<div id="tabs-bar">
			<ul>
				{% for year in years %}
					<li class="tab{% if forloop.counter0 == 0 %} active{% endif %}" onclick="set_active_tab({{ forloop.counter0 }}, update_categories)">
						{{ year }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div id="tabs-display-content" class="category">
			{% for category in current_year_categories %}
				<a href="{% url 'formula:topics' category.slug %}">{{ category.name }}</a>
			{% empty %}
				<div>There were no categories for this year</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}