{% extends 'formula/base.html' %}

{% load static %}

{% block extra_js %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}?version=0">
	{% include 'formula/topic-list.html' with header=True only %} <!-- Allows us to copy the css for topic-list using different html structure -->
	{% include 'formula/tab-display.html' with header=True only %}
	<script type="text/javascript" src="{% static 'js/index.js' %}?version=0"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	{% include 'formula/tab-display.html' with end=False tabs=years content_class="category" tab_selected_func="update_categories" only %}
		{% for category in current_year_categories %}
			<a href="{% url 'formula:topics' category.slug %}">{{ category.name }}</a>
		{% empty %}
			<div>There were no categories for this year</div>
		{% endfor %}
	{% include 'formula/tab-display.html' with end=True only %}
{% endblock %}

{% block footer %}
{% endblock %}
