{% extends 'formula/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extra_js %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/nested.css' %}?version=0" />
	{% include 'formula/topic-list.html' with header=True only %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
		<p>{{ description }}</p>
		<hr>
		<div class="above-list">
			<a {% if topic %}href="{% url 'formula:topics' category.slug%}">View category page{% else %} href="{% url 'formula:index'%}">View all categories{% endif %}</a>
			<h3>{% if topic %}Posts under this topic{% else %}Topics under this category{% endif %}</h3>
			{% if user_is_team_lead %}<a {% if topic %}href="">Create post{% else %}href="{% url 'formula:create_topic' category.slug%}">Create topic{% endif %}</a>{% else %}<div></div>{% endif %}
		</div>
		{% for topic, posts in topics.items %}
			{% include 'formula/topic-list.html' %}
		{% empty %}
			<div class="category">
				<div>
					There are no topics under this category :(
				</div>
			</div>
		{% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}