{% extends 'formula/base.html' %}

{% load static %}

{% block title %}{% if post %}{{ post.title }}{% else %}{{ 404 }}{% endif %}{% endblock %}

{% block extra_js %}
	{% if post %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}?version=0" />
	{% else %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}?version=0" />
	{% endif %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	{% if post %}
		<h1>{{ post.title }}</h1>
		<i>by {{ post.user }}</i>
		{% for paragraph in post.content.splitlines %}
			<p>{{ paragraph }}</p>
		{% endfor %}
		{% if post.file %}
			<hr>
			{% if file_is_image %}
				<div class="imagename">Attached image: <a href="{{ post.file.url }}">{{ post.file.name }}</a></div>
				<a href="{{ post.file.url }}" class="image-link">
					<img src="{{ post.file.url }}" alt="{{ post.file.name }}" />
				</a>
			{% else %}
				<p>
					Attached file: <a href="{{ post.file.url }}">{{ post.file.name }}</a>
				</p>
			{% endif %}
		{% endif %}
	{% else %}
		<h1>404</h1>
		<i>That's an error!</i>
		<p>
			The page you requested does not exist.
		</p>
		<p>
			It's possible that it may have have moved
			or has been removed from the site entirely.<br>
			If you were brought to this page from within the site,
			please <a href="mailto:2727599m+FomulaForumSite404@student.gla.ac.uk">let us know</a>.
		</p>
	{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}