{% extends 'formula/base.html' %}

{% load static %}

{% block title %}{% if post %}{{ post.title }}{% else %}{{ 404 }}{% endif %}{% endblock %}

{% block extra_js %}
	{% if post %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}?version=0" />
	{% else %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}?version=0" />
	{% endif %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	{% if post %}
		<h1>{{ post.title }}</h1>
		<i>by {{ post.user }}</i>
		{% for paragraph in post.content.splitlines %}
			<p>{{ paragraph }}</p>
		{% endfor %}
		{% if files or images %}
			<hr>
			<p>
				Attached file(s):
				{% for filename in files %}
					<a href="{% url 'formula:post' category.slug topic.slug post.id %}?file={{filename}}">{{ filename }}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
			</p>
			{% for filename in images %}
				<div class="imagename"><a href="{% url 'formula:post' category.slug topic.slug post.id %}?file={{ filename }}">{{ filename }}</a></div>
				<a href="{{ post.file.url }}" class="image-link">
					<img src="{% url 'formula:post' category.slug topic.slug post.id %}?file={{ filename }}" alt="Could not load file" />
				</a>
			{% endfor %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}