{% extends 'formula/base.html' %}

{% load static %}

{% block extra_js %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}?version=0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}?version=0">
	{% include 'formula/topic-list.html' with header=True only %} <!-- Allows us to copy the css for topic-list using different html structure -->
	{% include 'formula/tab-display.html' with header=True only %}
	<script type="text/javascript" src="{% static 'js/index.js' %}?version=0"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
        <div class="profile-name">
        <h3>{{ user.get_full_name|default:"User" }}</h3>
    </div>
<div class="profile-container">
<div class="left-container">
    <div class="profile-details">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Registered on:</strong> {{ user.date_joined|date:"Y-m-d" }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p> <!-- Conditional visibility based on permissions -->
        <p><strong>Student id:</strong> {{ user.student_id }}</p>
        <p><strong>Bio:</strong> {{ user.bio }}</p>
    </div>
</div>
<div class="right-container">
    <div class="profile-image-container">
        {% if user.picture %}
        <img src="{{ user.picture.url }}" alt="User profile image">
        {% else %}
        <img src="{% static 'images/default-profile-image.svg' %}" alt="Default profile image">
        {% endif %}
    </div>
</div>
{% if show_edit %}
    <div class="edit-profile-link">
        <a href="{% url 'formula:edit_profile' username=user.username %}">Edit Profile</a>
    </div>
{% endif %}
</div>
{% endblock %}


{% block footer %}
{% endblock %}
