{% extends 'formula/base.html' %}

{% load static %}

{% block extra_js %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}?version=0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}?version=0">
	<script type="text/javascript" src="{% static 'js/index.js' %}?version=0"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="profile-name">
    <h3>{{ user.get_full_name|default:"User" }}</h3>
</div>
<div class="profile-container">
    <div class="profile-details">
        <p><strong>Bio:</strong> {{ user.bio }}</p>
    </div>
    <div class="profile-details">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Registered on:</strong> {{ user.date_joined|date:"Y-m-d" }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p> 
    </div>
    
    
    <div class="profile-image-container">
        {% if user.picture %}
        <img src="{{ user.picture.url }}" alt="User profile image">
        {% else %}
        <img src="{% static 'default-profile-image.png' %}" alt="Default profile image">
        {% endif %}
    </div>
    <div class="edit-profile-link">
        <a href="{% url 'formula:edit_profile' username=user.username %}">Edit Profile</a>
    </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}
