{% extends 'formula/base.html' %}

{% load static %}

{% block title %}{{ team.name }}{% endblock %}

{% block extra_js %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}?version=0" />
	{% include 'formula/topic-list.html' with header=True only %}
	{% include 'formula/tab-display.html' with header=True only %}
	<script src="{% static 'js/team.js' %}?version=0"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<h1>{{ team.name }}</h1>
	{% for paragraph in team.description.splitlines %}
	<p>
		{{ paragraph }}
	</p>
	{% empty %}
	<p>
		<i>Team has set no description</i>
	</p>
	{% endfor %}
	<hr>
	<h3>Meet the team!</h3>
	{% include 'formula/tab-display.html' with end=False tabs=team_members_names tab_selected_func="update_profile" only %}
		<img id="pfp" src="{% static 'images/Default_pfp.svg' %}" alt="pfp"/>
		<div>
			<h3>{{ selected.username }} · {% if selected == team_lead.user %}Team lead{% else %}Team member{% endif %}</h3>
			<span>{{ selected.bio }}</span>
		</div>
	{% include 'formula/tab-display.html' with end=True only%}
	<hr>
	<h3>Browse their topics</h3>
	<div>
		{% for topic, posts in topics.items %}
			{% include 'formula/topic-list.html' %}
		{% endfor %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}