{% extends 'formula/base.html' %}

{% load static %}

{% block title %}{{ team.name }}{% endblock %}

{% block extra_js %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}?version=0" />
	{% include 'formula/topic-list.html' with header=True only %}
	<script type="text/javascript" src="{% static 'js/tabs.js' %}?version=0"></script>
	<script src="{% static 'js/team.js' %}?version=0"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<h1>{{ team.name }}</h1>
	{% for paragraph in team.description.splitlines %}
	<p>
		{{ paragraph }}
	</p>
	{% empty %}
	<p>
		<i>Team has set no description</i>
	</p>
	{% endfor %}
	<hr>
	<h3>Meet the team!</h3>
	<div id="tabs-display">
		<div id="tabs-bar">
			<ul>
				<li class="tab active" onclick="set_active_tab(0, update_profile);">
					{{ team_lead.user.username }}
				</li>
				{% for team_member in team_members %}
					<li class="tab" onclick="set_active_tab({{ forloop.counter0 }} + 1, update_profile);">
						{{ team_member.user.username }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div id="tabs-display-content">
			This is temporary text, I will put user's profile here once the 
		</div>
	</div>
	<hr>
	<h3>Browse their topics</h3>
	<div>
		{% for topic, posts in topics.items %}
			{% include 'formula/topic-list.html' %}
		{% endfor %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}