{% if header %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/topic-list.css' %}?version=0" />
{% else %}
	<div class="category">
		<div>
			<span>{{ topic.name }}</span>
		</div>
		{% if view_topic_page %}
			<a href="{% url 'formula:posts' topic.category.slug topic.slug %}" class="view-topic-page">
				<span>View topic page</span>
			</a>
		{% endif %}
		{% for post in posts %}
			<div>
				<a class="post-link" href="{% url 'formula:post' category.slug topic.slug post.id %}">
					<span>{{ post.title }}</span>
					<div class="space"></div>
					<div class="post-details" style="width: 3cm;">
						{{ post.date_added|date:"d M, Y" }}
					</div>
				</a>
				<hr>
				<a class="author-link" href="{% url 'formula:profile' post.user.username%}">
					<div class="author-details" style="width: 4cm;">
						<img src="{{ post.user.picture.url }}" alt="pfp" class="pfp"/>
						<div id="author-name">{{ post.user.username }}</div>
					</div>
				</a>
			</div>
		{% empty %}
			<div class="empty">
				<span>There are no posts under this topic :(</span>
			</div>
		{% endfor %}
	</div>
{% endif %}