{% extends 'formula/base.html' %}

{% load static %}

{% block extra_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users_list.css' %}?version=1" />
{% endblock %}

{% block content %}
        <h1>
    Here you can visit list of all the users.
    </h1>
<div class="users-container">
    {% for user, team_name in users_with_teams %}
    <div class="user">
        <a class="user-link" href="{% url 'formula:profile' user.username %}">
{% if user.picture.url %}
    <img src="{{ user.picture.url }}" alt="User Profile Picture" class="pfp">
{% else %}
    <img src="{% static 'images/default-profile-image.svg' %}" alt="Default Profile Picture" class="pfp">
{% endif %}
<span>{{ user.username }}</span>

            <span>{{ user.username }}</span>
        </a>
        {% if team_name %}
        <a class="team-link" href="{% url 'formula:team' team_name|slugify %}">{{ team_name }}</a>
        {% else %}
        <span class="team-link empty">No team</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
