h1, p {
	color: var(--white-text-color);
}

h1 {
	margin-bottom: 1ex;
	width: 100%;
	text-align: center;
}

p {
	margin-left: 1cm;
	margin-right: 1cm;
}

.post-details, .author-details {
	position: relative;
	height: 100%;
}

.author-details {
	padding-left: 0.5cm;
}

.space {
	width: 0;
	margin: auto;
}

hr {
	margin: 0;
	border-color: var(--medium-blue);
	border-style: solid;
}