#main-content {
	--category-color: #2c5782;
}

.category {
	margin: 3mm;
}

div.category > div {
	display: inherit;
	background-color: var(--category-color);
	color: var(--white-text-color);
	height: 1cm;
	width: 100%;
	line-height: 1cm;
	vertical-align: middle;
	padding-left: 2mm;
	text-decoration: none;
}

div.category > div + div {
	margin-top: 0.5mm;
}

div.category >:first-child {
	background-color: var(--black);
	border-top-left-radius: 3mm;
	border-top-right-radius: 3mm;
}

div.category >:last-child {
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;
}

div.category > div + div:hover {
	filter: brightness(110%);
}