#main-content * {
	color: var(--white-text-color);
}

.category {
	margin: 0 !Important;
}

.category >:first-child {
	background-color: var(--category-color) !Important;
	border-top-left-radius: 0 !Important;
	border-top-right-radius: 0 !Important;
}

.category > * {
	padding-left: 2mm;
	background-color: var(--category-color)
}

.category >:last-child {
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;
}

.category >:hover {
	filter: brightness(110%);
}

h1 {
	text-align: center;
}