h1, p, h3 {
	color: var(--white-text-color);
}

h1 {
	text-align: center;
	width: 100%;
	margin-bottom: 1ex;
}

p {
	margin-left: 1cm;
	margin-right: 1cm;
}

.post-details, .author-details {
	position: relative;
	height: 100%;
}

.author-details {
	padding-left: 0.5cm;
}

.space {
	width: 0;
	margin: auto;
}

hr {
	margin: 0;
	border-color: rgba(0, 0, 0, 0.25);
	border-style: solid;
}

.above-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.above-list > a {
	margin-top: auto;
	margin-bottom: auto;
	height: 1em;
	text-align: center;
	vertical-align: middle;
	color: yellow;
	flex-grow: 1;
	flex-basis: 0;
}

img.pfp {
	position: relative;
	border-radius: 50%;
	height: 80%;
	top: 10%;
}

.author-details > div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}