h1, p, h3 {
	color: var(--white-text-color);
}

h1 {
	text-align: center;
	width: 100%;
	margin-bottom: 1ex;
}

p {
	margin-left: 1cm;
	margin-right: 1cm;
}

.above-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.above-list > a {
	margin-top: auto;
	margin-bottom: auto;
	height: 1em;
	text-align: center;
	vertical-align: middle;
	color: yellow;
	flex-grow: 1;
	flex-basis: 0;
}