h1, i, p, div.imagename {
	color: var(--white-text-color);
}

h1 {
	margin-bottom: 0.5ex;
}

h1, i {
	display: block;
	width: 100%;
	text-align: center;
}

p {
	margin-bottom: 1ex;
}

img {
	display: block;
	width: 100%
}

div.imagename {
	text-align: center;
}

a {
	color: yellow;
}

a.image-link {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}