:root {
	--radius: 3.5mm;
	--tab-hover-color: #292929;
}

#main-content * {
	color: var(--white-text-color);
}

h1 {
	margin-bottom: 0.5ex;
}

h1, i, h3 {
	display: block;
	width: 100%;
	text-align: center;
}

p {
	margin-bottom: 1ex;
}

#tabs-display-content {
	background-color: #2c5782;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

@supports (aspect-ratio: 16 / 9) {
	#tabs-display-content {
		aspect-ratio: 16 / 9;
	}
}