#main-content {
	--category-color: #2c5782;
}

.category {
	margin: 3mm;
}

.view-topic-page {
	background-color: #25425F !Important;
}

.view-topic-page > span {
	margin-left: 2mm;
}

div.category > * {
	display: flex;
	color: var(--white-text-color);
	height: 1cm;
	width: calc(100% - 2mm);
	line-height: 1cm;
	vertical-align: middle;
	text-decoration: none;
}

div.category > * + * {
	margin-top: 0.5mm;
}

div.category >:first-child {
	background-color: var(--black);
	border-top-left-radius: 3mm;
	border-top-right-radius: 3mm;
}

div.category >:first-child > span {
	margin-left: 2mm;
}

div.category >:last-child > .post-link {
	border-bottom-left-radius: 3mm;
}

div.category >:last-child > .team-link {
	border-bottom-right-radius: 3mm;
}

div.category > div > a:hover {
	filter: brightness(110%);
}

.space {
	width: 0;
	margin: auto;
}

hr {
	margin: 0;
	border-color: rgba(0, 0, 0, 0.25);
	border-style: solid;
}

img.pfp {
	position: relative;
	border-radius: 50%;
	height: 80%;
	top: 10%;
	aspect-ratio: 1 / 1;
}

.post-details, .author-details, .team-details {
	height: 100%;
}

.author-details, .team-details {
	right: 0;
	padding-left: 0.25cm;
}

.author-details > div, .team-details > div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 75%;
}

.post-link {
	display: flex;
	flex-grow: 1;
	padding-left: 2mm;
}

.post-link > span {
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-link > * {
	display: inline-block;
}

.post-link, .author-link, .team-link {
	text-decoration: none;
	color: var(--white-text-color);
	background-color: var(--category-color);
}

.empty {
	color: var(--white-text-color);
	background-color: var(--category-color);
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;
}

.empty > span {
	margin-left: 2mm;
}

.author-link, .team-link {
	min-width: 12em;
	width: 12em;
}