#main-content {
	--category-color: #2c5782;
}

.category {
	margin: 3mm;
}

.view-topic-page {
	background-color: #25425F !Important;
}

div.category > * {
	display: flex;
	background-color: var(--category-color);
	color: var(--white-text-color);
	height: 1cm;
	width: calc(100% - 2mm);
	line-height: 1cm;
	vertical-align: middle;
	padding-left: 2mm;
	text-decoration: none;
}

div.category > * + * {
	margin-top: 0.5mm;
}

div.category >:first-child {
	background-color: var(--black);
	border-top-left-radius: 3mm;
	border-top-right-radius: 3mm;
}

div.category >:last-child {
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;
}

div.category > a:hover {
	filter: brightness(110%);
}

.post-details, .author-details {
	position: relative;
	height: 100%;
}

.author-details {
	padding-left: 0.5cm;
}

.space {
	width: 0;
	margin: auto;
}

hr {
	margin: 0;
	border-color: rgba(0, 0, 0, 0.25);
	border-style: solid;
}

img.pfp {
	position: relative;
	border-radius: 50%;
	height: 80%;
	top: 10%;
	aspect-ratio: 1 / 1;
}

.author-details > div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 75%;
}