#main-content {
	--category-color: #2c5782;
}

.category {
	margin: 3mm;
}

.view-topic-page {
	background-color: #25425F !Important;
}

.view-topic-page > span {
	margin-left: 2mm;
}

div.category > * {
	display: flex;
	color: var(--white-text-color);
	height: 1cm;
	width: calc(100% - 2mm);
	line-height: 1cm;
	vertical-align: middle;
	text-decoration: none;
}

div.category > * + * {
	margin-top: 0.5mm;
}

div.category >:first-child {
	background-color: var(--black);
	border-top-left-radius: 3mm;
	border-top-right-radius: 3mm;
}

div.category >:first-child > span {
	margin-left: 2mm;
}

div.category >:last-child > .post-link {
	border-bottom-left-radius: 3mm;
}

div.category >:last-child > .author-link {
	border-bottom-right-radius: 3mm;
}

div.category > div > a:hover {
	filter: brightness(110%);
}

.space {
	width: 0;
	margin: auto;
}

img.pfp {
	position: relative;
	float: right;
	border-radius: 50%;
	height: 80%;
	top: 10%;
	aspect-ratio: 1 / 1;
}

.post-details, .author-details {
	height: 100%;
}

.author-details {
	width: 100%;
	display: flex; /* Use flex instead of inline-flex */
	justify-content: space-between; /* This spreads the items to opposite sides */
	align-items: center; /* This vertically centers the items (optional) */
	padding-left: 0.5cm;
	padding-right: 0.5cm; /* Add right padding to match the left padding */
	box-sizing: border-box; /* This ensures padding does not add to the total width */
}

hr {
    margin-left: auto; /* This pushes the hr to the right; use 'margin-right: auto;' to push it to the left */
    border-color: rgba(0, 0, 0, 0.25);
    border-style: solid;
}

.author-details > div {
	display: inline-flex;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 75%;
}

.post-link {
	display: inline-flex;
	width: 60%;
	padding-left: 2mm;
}

.post-link > * {
	display: inline-block;
}

.post-link, .author-link {
	text-decoration: none;
	color: var(--white-text-color);
	background-color: var(--category-color);
}

.author-link{
	width: 40%;
}

.empty {
	color: var(--white-text-color);
	background-color: var(--category-color);
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;
}

.empty > span {
	margin-left: 2mm;
}